$aleft : right;
          $aright : left;
          $dir : rtl;
          $letterspace : 0.1px;
          $wordspace : 1.2px;
          $linespace : auto;
          $iconwsp: 3px;
          $fblogo : 'helal';
          $fthead : 'koodak';
          $ft : 'zar';
          $fr : 'koodak';