$aleft : left;
            $aright : right;
            $dir : ltr;
            $letterspace : auto;
            $wordspace : auto;
            $linespace : auto;
            $iconwsp: auto;
            $fblogo : 'ubuntubi';
            $fthead : 'ubuntub mono';
            $ft : 'ubuntub';
            $fr : 'ubuntur';