/*** Persian Fonts ***/

@font-face{
  font-family: 'koodak';
  src: font-url('BKoodakBold.ttf') format('truetype');
}
@font-face{
  font-family: 'zar';
  src: font-url('BZar.ttf') format('truetype');
}
@font-face{
  font-family: 'davat';
  src: font-url('BDavat.ttf') format('truetype');
}
@font-face{
  font-family: 'helal';
  src: font-url('BHelal.ttf') format('truetype');
}
