<h1 class="hart">Qali blog users:<h1>
<% @users.each do |user| %>
  <ul class="listing col-md-4">
    <div class="row userpad">
      <li><%= link_to user.username, user_path(user) %></br>
        <small><%= pluralize(user.articles.count, "article") if user.articles.any? %></small>
      </li>
    </div>
  </ul>
<% end %>
