<div class="center jumbotron homebg col-lg-12">
  <div class="homeinfo col-md-4">
    <h1 class="hart">Qali Online</h1>
    <small>Signup to order your unique product!</small>
    <%= link_to "Signup now", signup_path, class: "btn btn-primary btn-lg signuphome" %>
  </div>
</div>
