
$navbar-default-bg: #3b0156;


@import "bootstrap";

body{
  background: #eaeaea;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
.homebg {
  background-image: asset_url('bgsofa.jpeg');
  background-size: cover;
  height: 600px;
  border: 4px #444 solid;
  border-top: 0px;
  border-radius: 0px;
}





.hart{
  margin-top: 20px;
  margin-bottom: 15px;
}

.errors{
  margin-top: 30px;
  margin-bottom: 40px;
}

.article-alert{
  margin-top: 15px;
}
.article-well{
  margin-top: 20px;
}
.article-title{
  font-weight: bold;
  font-size: 1.5em;
}
.aritcle-body{
  border-top: 1px #d9dadb;
  padding-top: 15px;
  padding-bottom: 15px;
}
.article-actions {
  border-bottom: 2px #d9dadb solid;
  border-top: 2px #d9dadb solid;
  padding: 5px;
  margin-top: 15px;
}

.pagnav{
  margin-top: 40px;
}

.listing li a:hover{
  text-decoration: none;
}
.userpad{
  border: 3px #343a40 solid;
  background: #fff;
  padding: 20px;
  margin: 20px;
  list-style: none;
}


.footer {
  border-top: 4px #444 solid;
  margin-top: 40px;
  padding-top: 5px;
  width: 100%;
  min-height: 100px;
}
