



@import "lans";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'ubuntufont';
@import 'pf';


$ycolor: #ffc107;
$dnavcolor: #343a40;
$lborderart: #d9dadb;


body{
  background: #eaeaea;
  direction: $dir;
  text-align: $aleft;
  font-family: $fr;;
  letter-spacing: $letterspace;
  word-spacing: $wordspace;
}

#logo {
  float: left;
  font-size: 1.7em;
  font-family: $fblogo;
  color: $ycolor;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
.textcenter{
  text-align: center;
}
.navbar{
  background-color: $dnavcolor !important;
  font-family: $fthead;
}
.mx-navitems {
    margin-#{$aright}: auto !important;
}

.dropdown-menu{
  text-align: $aleft;
}
.dropdown-menu{
  border-radius: 0;
}
.searchform{

}
.search{
  border-radius: 0;
}
.searchsub{
  border-radius: 0;
}

.flash{
  padding-right: 30px;
}

.homebg {
  background-image: asset_url('bgsofa.jpeg');
  background-size: cover;
  height: 600px;
  border: 4px $dnavcolor solid;
  border-radius: 0px;
  margin-top: -4px;
}
.homeinfo{
  margin: auto;
  text-align: center;
}
.signuphome{
  margin-top: 20px;
}



.hart{
  margin-top: 20px;
  margin-bottom: 15px;
}

.errors{
  margin-top: 30px;
  margin-bottom: 40px;
}

.article-alert{
  margin-top: 15px;
}
.art-thumb{
  border: 3px $lborderart solid;
}
.medium-pic{
  cursor: pointer;
}
.x-close{
  right: 5px;
  z-index: 100;
  position: absolute;
}
.article-well{
  margin-top: 20px;
}
.article-title{
  font-weight: bold;
  font-size: 1.5em;
}
.article-body{
  border-top: 1px $lborderart;
  padding-top: 15px;
  padding-bottom: 0px;
}
.art-description{
  padding-bottom: 10px;
}
.article-actions {
  border-bottom: 2px $lborderart solid;
  border-top: 2px $lborderart solid;
  padding: 5px;
}
.show-article-actions {
  margin-top: 20px;
}
.input-checkbox{
  margin-#{$aleft}: 15px;
}
.input-checkbox .checkbox{
  margin-#{$aright}: 5px;
}

.c-badge a{
  color: #000;
}
.pagination{
  direction: ltr;
}



.pagnav{
  margin-top: 40px;
}

.listing{
  margin-bottom: 25px;
}

.listing a:hover{
  text-decoration: none;
}
.userpad{
  border: 3px $lborderart solid;

  list-style: none;
}
.userpad small{
  font-size: 0.5em;
}

.profile{
    float: right;
}


.users-admin-actions{
  margin-top: 15px;
  border-top: 2px $lborderart solid;
  padding-top: 5px;
}

.catfontfix{
  font-family: initial;
}








.sidebar{
  border: 4px $dnavcolor solid;
  background: #f9e893;
  margin-top: -4px;
  padding-top: 15px;
  margin-bottom: 0px;
}
.sidebar li{
  padding-top: 10px;
  margin-top: 5px;
  font-weight: bold;
}
.sidebar li a{
  text-decoration: none;
}







.category-actions {
  border-bottom: 2px $lborderart solid;
  border-top: 2px $lborderart solid;
  padding: 5px;
  margin-top: 15px;
}








.footer {
  border-top: 4px #444 solid;
  margin-top: 40px;
  padding-top: 5px;
  width: 100%;
  min-height: 100px;
}
