
<footer class="footer">
  <div class="container">
    <small>
      <%= t('views.footer.copy') %>&copy; <a href="#"><%= t('views.footer.link') %></a> <%= t('views.footer.linkto') %></br>
      <p><%= t('views.footer.by') %> Qaliblog9876@gmail.com</p>
    </small>
  </div>
</footer>
