
<footer class="footer">
  <div class="container">
    <small>
      Copyright &copy; <a href="#">Link forward</a> to Qali webdesign homepage</br>
      by <p1>Qaliblog9876@gmail.com</p>
    </small>
  </div>
</footer>
