<div class="">
  <div class="col-10 offset-1">
    <% flash.each do |name, msg| %>
      <div class='alert article-alert alert-<%= "#{name}" %>'>
        <a href="#" class="close" data-dismiss="alert">&#215;</a>
        <div class="flash"><%= content_tag :div, msg, :id => "flash#{name}" if msg.is_a?(String) %></div>
      </div>
    <% end %>
  </div>
</div>
